<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='http://getbootstrap.com/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div class="container" id="todo">
      <h1>Lunes</h1>
      <h1 v-if="user.loggedIn">Bem vindo {{ user.email }}</h1>
      <br />
      <h3>Volume de vendas Bitcoin:</h3>
      <h4>{{cotacao}}</h4>
      <h5>{{token}}</h5>
    </div>
  </body>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
  <script src="/javascripts/app.js"></script>
</html>
